.container {
  padding: 0 1rem;
  width: 100%;
}
.title {
  font-weight: normal;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  width: 100%;
  text-align: center;
  padding: 1rem;
}
.ul {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #cccccc;
  padding: 0;
}
.ul li {
  list-style-type: none;
  margin: 1rem;
}
.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #cccccc;
  margin: 0 0 4rem;
}
.graph {
  width: 100%;
  max-width: 600px !important;
}
@media screen and (max-width: 767px) {
  .title {
    font-size: 1em;
  }
  .ul li {
    width: calc(100% / 3 - 1rem);
    margin: .5rem;
  }
  .graph {
    width: 100%;
    max-width: 320px;
  }
}